body{
    margin: 0vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(90deg, #5EA1E2, #5c6f9a);
}

.first{
    width: 100vw;
    height: 88vh;
    background: linear-gradient(90deg, #5EA1E2, #5c6f9a);
    display: grid;
    justify-content: center;
    align-items: center;
}

.second{
    background: linear-gradient(270deg, rgba(0,0,0,.4), rgba(0,0,0,0.3));
    position: absolute;
    top: 0;
    height: 19vh;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

.second p{
    font-family: 'Jetbrains Mono'; margin: 2vw auto; align-self: center; font-size: 5vw; color: white;
}

.third{
    margin-top: 15vh;
    align-items: center; align-content: center; display: block; padding: 3vw;
}

.third p{
    font-family: 'Jetbrains Mono'; margin: 2vw auto; align-self: center; font-size: 2.3vw; color: white;
}

.fourth{
    width: 100vw;
    height: 12vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, rgba(0,0,0,.4), rgba(0,0,0,0.3));
}

footer p{
    font-family: 'Jetbrains Mono'; margin: 2vw auto; align-self: center; font-size: 2vw; color: white;
}

@media screen and (max-width: 992px) {
    .second p{
        font-size: 7vw;
    }

    .third{
        padding: 10vw;
    }

    .third p{
        font-size: 3.3vw;
    }

    footer p{
        font-size: 2.8vw;
    }
}

@media screen and (max-width: 640px) {
    .second p{
        font-size: 13vw;
    }

    .third{
        padding: 10vw;
    }

    .third p{
        font-size: 5.6vw;
    }

    footer p{
        width: 80%;
        text-align: center;
        font-size: 5vw;
    }
}