html{
    scroll-behavior: smooth;
}

:root{
    --text-color: #35415d;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    font-family: "Jetbrains Mono";
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0)), url(./background.png);
    background-size: 100% 100vh;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    display: flex;
    padding: 1rem;
    height: 20vh;
    justify-content: space-around;
    align-items: center;
}

.fa-solid.fa-bars{
    display: none;
}

.mobileMenu{
    display: none;
}          

.logo{
    width: 6vw;
}

a{
    font-size: 1.4vw;
    font-weight: 600;
    color: white;
}

a:hover{
    font-weight: 900;
    scale: 1.05;
    transition: 0.5s;    
}

nav{
    display: flex;
    gap: 5vw;
}

/* Banner */

.banner{
    height: 80vh;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.div_banner{
    width: 35vw;
    margin-bottom: 10vh;
}

.div_banner h1{
    color: var(--text-color);
    font-weight: 900;
    font-size: 5.6vw;
}

.div_banner p{
    text-align: justify;
    width: 30vw;
    color: var(--text-color);
    font-size: 1.5vw;
    margin-bottom: 2vw;
}

.button{
    width: 30vw;
}


    

.div_banner .button-hover{
    cursor: pointer;
    display: flex;
    width: 18vw;
    height: 4vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    /*background: linear-gradient(270deg, rgba(0,66,255,1), rgba(53,65,93,1));*/
    border: none;
    border-radius: 3vw;
    color: white;
    font-size: 1.4vw;
    animation: changeColor 5s infinite;
}



@keyframes changeColor {
    0% {
        background-color: rgba(0,66,255,1);
    }
    50% {
        background-color: rgba(53,65,93,1);
    }
    100% {
        background-color:  rgba(0,66,255,1);
    }
  }

.button-hover:hover{

    width: 20vw;
    transition: 0.9s linear;
}

.scroll{
    cursor: pointer;
    color: black;
    justify-content: center;
    left: 47.7%;
    bottom: 5vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll h5{
    text-transform: uppercase;
    font-size: 1.3vw;
    font-weight: 400;
}

.scroll i{
    font-size: 1.3vw;
}

/* Header e Banner - Responsividade */

@media screen and (max-width: 992px) {
    header{
        height: 12vh;
    }

    a{
        font-size: 1.75vw;
    }

    .banner{
        height: 88vh;
    }

    .div_banner{
        width: auto;
        margin-bottom: 6vh;
    }

    .div_banner h1{
        font-size: 7vw;
    }

    .div_banner p{
        width: 37.5vw;
        font-size: 1.875vw;
        margin-bottom: 2.5vw;
    }

    .button{
        width: 37.5vw;
    }

    .div_banner .button-hover{
        width: 22.5vw;
        height: 5vw;
        border-radius: 3.75vw;
        font-size: 1.75vw;
    }

    .button-hover:hover{
        width: 25vw;
    }

    .scroll h5{
        font-size: 1.85vw;
    }

    .scroll i{
        font-size: 1.85vw;
    }
}

@media screen and (max-width: 640px) {
    header{
        height: 20vh;
        width: 90vw;
        justify-content: space-around;
    }

    header i{
        font-size: 7vw;
    }
    
    .fa-solid.fa-bars{
        display: flex;
        
    }

    .mobileMenu{
        position: fixed;
        z-index: 100;
        height: 100vh;
        width: 55vw;
        background-color: #1a2235;
        box-shadow: 2px 0 11px 1px grey;
        display: flex;
        flex-direction: column;
        transform: translateX(-200%);
        font-size: 2vw;
        justify-content: flex-start;
        align-items: start;
    }

    .menu-mobile-content{
        height: 60vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .menu_item{        
        font-size: 5vw;
        list-style: none;
        display: block;
        width: 100%;
        text-align: left;
        padding: .5em;
        
    }

    .menu_box li{
        list-style: none;
        
    }

    .hr-mobile-menu{
        align-self: center;
        width: 90%;
        color: white;
        
    }

    .btn-mobile-close{
        font-size: 7vw;
        margin-top: 4vw;
        margin-bottom: 3vw;
        margin-left: 2vw;
    }

    @keyframes enterMenu {
        from{
            transform: translateX(-200%);
        }
        to{
            transform: translateX(-40%);
        }
    }

    @keyframes exitMenu {
        from{
            transform: translateX(-40%);
        }
        to{
            transform: translateX(-200%);
        }
        
    }

    .logo{
        width: 15vw;
    }

    nav{
        display: none;
    }

    body{
        background-image: url("./background_mobile.png");
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner{
        height: 80vh;
    }

    .div_banner{
        margin-bottom: 10vh;
    }

    .div_banner h1{
        font-size: 13.8vw;
    }

    .div_banner p{
        width: 75vw;
        font-size: 3.75vw;
        margin-bottom: 5vw;
    }

    .button{
        width: 75vw;
    }

    .div_banner .button-hover{
        width: 45vw;
        height: 10vw;
        border-radius: 7.5vw;
        font-size: 3.5vw;
    }

    .button-hover:hover{
        width: 50vw;
    }

    .scroll{
        left: 44.1%;
    }

    .scroll h5{
        font-size: 3.25vw;
    }

    .scroll i{
        font-size: 3.25vw;
    }
}

/* Service */

.services{
    background-image: url("./baixar.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 4rem;
}

.service_box{
    display: flex;
    height: 55vw;
    width: 80vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.services h1{
    text-transform: uppercase;
    font-size: 4vw;
    background: linear-gradient(180deg, #D9D9D9 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
}

.services_content{
    display: flex;
    flex-wrap: wrap;
    row-gap: 3vw;
    justify-content: space-between;
}

.minibox{
    background: linear-gradient(0deg, #38517A 0%, #212735 100%);
    border: 0.3vw solid #5EA1E2;
    box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.55);
    border-radius: 2.4vw;
    text-align: center;
    display: flex;
    width: 25.5vw;
    height: 21.5vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.minibox i{
    margin-bottom: 1vw;
    font-size: 5vw;
    color: #5EA1E2;
}

.minibox h2{
    font-family: 'Geo';
    font-weight: 500;
    font-size: 2.8vw;
    letter-spacing: -0.05em;
    color: #5EB4E8;
    text-shadow: 1.15422px 1.53896px 1.9237px rgba(0, 0, 0, 0.25);
}

.minibox p{
    width: 85%;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 1.2vw;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

/* Service - Responsividade  */

@media screen and (max-width: 992px) {
    .services{
        min-height: 120vw;
        align-items: center;
        width: 100vw;
    }

    .services_content{
        justify-content: space-evenly;
    }

    .service_box{
        height: auto;
    }

    .services h1{
        font-size: 5.6vw;
        margin-bottom: 3vw;
    }

    .minibox{
        border-radius: 3.3vw;
        width: 35.7vw;
        height: 30.1vw;
    }

    .minibox i{
        font-size: 7vw;
    }

    .minibox h2{
        font-size: 3.9vw;
    }

    .minibox p{
        font-size: 1.7vw;
    }
}

@media screen and (max-width: 640px) {
    .services{
        min-height: 120vw;
        align-items: center;
    }

    .services_content{
        justify-content: space-evenly;
    }

    .service_box{
        height: auto;
    }

    .services h1{
        font-size: 7.8vw;
        margin-bottom: 6vw;
    }

    .minibox{
        border-radius: 6.6vw;
        width: 70.4vw;
        height: 60.2vw;
    }

    .minibox i{
        font-size: 14vw;
    }

    .minibox h2{
        font-size: 7.8vw;
    }

    .minibox p{
        font-size: 3.4vw;
    }
}
/* SEÇÃO SOBRESERVICE */

.sobreService{
    width: 100vw;
    padding: 2vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #35415d, #fff);
}

.sobreService img{
    width: 45vw;
    height: 45vw;
}

.sobreServiceInfos{
    width: 45vw;
    height: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
}

.sobreServiceInfos h1{
    font-size: 3.5vw;

}

.sobreServiceInfos p{
    font-size: 1.5vw;
    
}

.sobreServiceInfos span{
    font-size: 1.5vw;
    font-weight: bold;
}

.sobreServiceInfos ul{
    font-size: 1.5vw;
}

@media screen and (max-width: 640px) {
    .sobreService{
        flex-direction: column;
    }

    .sobreService img{
        width: 80vw;
    }
    
    .sobreServiceInfos{
        width: 80vw;
        
    }
}

/* COMEÇO GRID DOS CONTATOS */

.contato{
    width: 100%;
    background-color: #35415d;
    align-content: center;
    align-items: center;
    padding: 5vw;
}

.grid-shadow{
    box-shadow: 10px 10px black;
}
.grid-contato {
    background-color: aliceblue;
    display: grid;   
    padding: 1%;
    align-content: center;
    border-radius: 1vw;
    align-items: center;
}

.grid-template-columns{
    grid-template-columns: 200fr 200fr;
}

.grid-template-rows{
    grid-template-rows: 2fr 1fr 2fr 2fr 2fr 2fr;

}

.grid-items{
    margin: 5px;
	background: aliceblue;	
}

.title-contato{
    color: #35415d;
    font-weight: bold;
    font-size: 1.7vw;
    text-align: center;
}



.text-contato{
    text-align: center;
    font-size: 1.5vw;
    color: #5c6f9a;
    margin: 0 auto;
    margin-left: 1vw;
    float: left;
}

.button-contact{
    padding: 0.75vw;
    margin: auto;
    max-width: 15vw;
    transition: 0.6s;
}
.button-contact:hover{
    cursor: pointer;
    transition: 0.6s;
    opacity: 0.5;
}

.mail-box{
    background-color: white;
    border-radius: 1vw;
    align-items: center;
    height: 100%;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.44);

}

.rows-mail-contact{
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 2fr 4.5fr 2fr;

}

.title-mail-box{
    color: rgb(53, 65, 93);
    font-weight: bold;
    font-size: 1.7vw;
    text-align: left;
    margin: 1.5vw;
    margin-bottom: 0vw;
}

.text-mail-box{
    color: #5c6f9a;
    font-size: 1.1vw;
    text-align: left;
    margin: 1vw;
    margin-left: 1.5vw;
    margin-top: 0.5vw;
}

.mail-contact-subcolumn{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.input-mail-box{
    background-color: rgb(255, 255, 255);
    border-radius: 0.5vw;
    border: none;
    margin: 0.5vw;
    padding: 1vw;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.2)    
}

.input-mail-box-name{
    margin-left: 1.5vw;   
    font-size: 1vw;

}

.input-mail-box-phone{
    margin-right: 1.5vw;
    font-size: 1vw;
}

.input-mail-box-email{
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    font-size: 1vw;
}

.textarea-contato{
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    font-size: 1vw;
}

.button-sendmail{
    text-decoration: white;
    background-color: #35415d;
    width: 10vw;
    height: 2.3vw;
    border-radius: 1vw;
    border: none;
    margin: 0.2vw auto;
    margin-right: 1.5vw;
    transition: 0.5s;
    
}

.hr-contatos{
    width: 85%;
    margin:auto;
    border: 0.7px solid rgb(54, 65, 92);
}

.div-contatos-icon-contato{
    align-content:center;
    align-items: center;
    display: flex;
}

.icon-contatos{
    color: #35415d;
    float: left;
    margin: 0 auto;
    margin-right: 0vw;
    font-size: 1.5vw;
}

.button-sendmail:hover{
    cursor: pointer;
    opacity: 0.5;
}

.button-sendmail-text{
    color: white;
    font-size: 1vw;
}

/* Grid Contato - Responsividade */

@media screen and (max-width: 992px) {
    .contato{
        display: flex;
        justify-content: center;
    }

    .grid-contato.grid-shadow{
        width: auto;
    }

    .grid-template-columns{
        grid-template-columns: 200fr;
        gap: 5vw;
    }

    .grid-template-rows{
        margin-top: 3vw;
        grid-template-rows: 2fr 1fr 1.5fr 1.5fr 2fr 2fr;
    }

    .title-contato{
        font-size: 2.5vw;
    }
    .icon-contatos{
        font-size:2.8vw;
    }
    .text-contato{
        font-size: 2vw;
    }
    .button-contact{
        max-width: 26vw;
    }
    .title-mail-box{
        font-size: 2.5vw;
    }

    .text-mail-box{
        font-size: 2vw;
    }
    .input-mail-box{
        padding: 2vw;
        font-size: 2vw;
    }
    .mail-contact-subcolumn{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .input-mail-box-name{
        margin: 0.4em;
        margin-top: 0em;

    }
    .input-mail-box-phone{        
        margin: 0.4em;
        margin-top: 0em;
    }
    .input-mail-box-email{
        margin: 0.4em;
        margin-top: 0em;
        
    }
    .rows-mail-contact{        
        grid-template-rows: 1fr 1.7fr 2.6fr 1.5fr 2.8fr 1fr;               
    }
    .mail-box{
        padding: 3em;
    }
    .button-sendmail{
        width: 12vw;
        height: 5vw;
        margin: 0.5em auto;
    }
    .button-sendmail-text{
        font-size: 2vw;
    }
    .contato{
        padding: 4em;
    }
    .textarea-contato{
        margin: 0.4em;
        font-size: 2vw;
        font-family: "Jetbrains Mono";
    }
    .grid-items{
        padding: 1em;
    }
}

@media screen and (max-width: 640px) {
    .grid-contato.grid-shadow{
        width: auto;
        box-shadow: none;
    }

    .grid-template-columns{
        grid-template-columns: 200fr;
        gap: 5vw;
    }

    .grid-template-rows{
        margin-top: 5vw;
        grid-template-rows: 2fr 1fr 1.5fr 1.5fr 2fr 2fr;
    }

    .title-contato{
        font-size: 4.2vw;
    }
    .icon-contatos{
        font-size:4.6vw;
    }
    .text-contato{
        font-size: 3.3vw;
    }
    .button-contact{
        max-width: 52vw;
    }
    .title-mail-box{
        font-size: 4.2vw;
    }

    .text-mail-box{
        font-size: 3.33vw;
    }
    .input-mail-box{
        padding: 3.33vw;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.44);
        font-size: 3.33vw;
    }
    .mail-contact-subcolumn{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .input-mail-box-name{
        margin-top: 1em;

    }
    .rows-mail-contact{        
        grid-template-rows: 1fr 1.7fr 2.6fr 1.5fr 2.8fr 1fr;               
    }
    .mail-box{
        padding: 1.7em;
        
    }
    .button-sendmail{
        width: 20vw;
        height: 8.3vw;
        margin: 0.5em auto;
    }
    .button-sendmail-text{
        font-size: 3.33vw;
    }
    .contato{
        padding: 1em;
    }
    .textarea-contato{
        margin: 0.4em;
        font-size: 3.33vw;
    }
    .grid-items{
        padding: 1em;
    }
}


/* FIM DA GRID DOS CONTATOS */


/* About us */

.about_us{
    padding: 3vw;
    display: flex;
    background: linear-gradient(90deg, #5EA1E2, #5c6f9a);
    flex-direction: column;
    align-items: center;
}

.about_us h1{
    margin-bottom: 1vw;
    text-transform: uppercase;
    font-size: 4vw;
    background: linear-gradient(180deg, #eee 0%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
}

.about_us_text p{
    margin: auto;
    text-align: center;
    width: 70%;
    font-family: 'JetBrains Mono';
    font-size: 1.45vw;
    color: #FFFFFF;
    margin-bottom: 6vw;
}

.cards{
    display: flex;
    gap: 8vw;
    width: 85%;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
    z-index: 1;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
}

.especial{
    border: solid white;
    box-shadow: 0 0 5px 1px white;
    background: linear-gradient(180deg, rgba(255,255,255,.7), rgba(255,255,255,0.9));
    border-radius: 1vw;
    padding: 1vw;
    margin-top: -1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20.8vw;
}

.especial h2{
    font-size: 1.8vw;
    margin-bottom: 0.8vw;
    text-transform: uppercase;
}

.card p{
    font-size: 1.37vw;
}

.card h6{
    font-size: 1.25vw;
}

/* About us - Responsividade */

@media screen and (max-width: 992px) {
    .about_us h1{
        font-size: 5.6vw;
        margin-bottom: 1.4vw;
    }

    .about_us_text p{
        font-size: 2vw;
        margin-bottom: 8.4vw;
    }

    .card img{
        width: 14vw;
        height: 14vw;
    }

    .especial{
        border-radius: 1.4vw;
        padding: 1.4vw;
        margin-top: -1.4vw;
        width: 29.1vw;
    }

    .especial h2{
        font-size: 2.5vw;
        margin-bottom: 1.1vw;
    }

    .card p{
        font-size: 1.9vw;
    }

    .card h6{
        font-size: 1.75vw;
    }
}

@media screen and (max-width: 640px) {
    .about_us{
        padding: 10vw;
    }

    .about_us h1{
        font-size: 7.8vw;
        margin-bottom: 2.8vw;
    }

    .about_us_text p{
        font-size: 4vw;
        width: 80%;
        margin-bottom: 16.8vw;
    }

    .card img{
        width: 28vw;
        height: 28vw;
    }

    .especial{
        border-radius: 2.8vw;
        padding: 2.8vw;
        margin-top: -2.8vw;
        width: 58.2vw;
    }

    .especial h2{
        font-size: 5vw;
        margin-bottom: 2.2vw;
    }

    .card p{
        font-size: 3.8vw;
    }

    .card h6{
        font-size: 3.5vw;
    }
}

/* section feedbackPeoples */

.feedbackPeoples{
    width: 100vw;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 7vw 0;
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
}

.feedbackPeoples h1{
    cursor: default;
    font-family: 'Open Sans';
    font-size: 3.8vw;
    margin-bottom: 9vw;
    text-align: center;
    color: #38517A;
}

.containerCardsFeedback{
    width: 90vw;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 2vw;
    row-gap: 10vw;
}

.cardFeedback{
    width: 35vw;
    height: auto;
    box-shadow: 0 0 5px 1px grey;
    border-radius: 1vw;
    margin: 0;
    background: linear-gradient(0deg, #5EB4E8, #5c6f9a);
    border: 1px solid #212735;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.6vw;
    padding: 2vw;
    cursor: default;
}

.cardFeedback:hover{
    scale: 1.0125;
}

.iconProfileImage{
    background-image: url("./user.png");
    background-size: 100%;
    width: 12vw;
    height: 12vw;
    background-color: grey;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px grey;
    position: absolute;
    display: flex;
    align-self: center;
    transform: translateY(calc(-50% - 1em))
}

.cardFeedback q{
    margin-top: 6vw;
    text-align: justify;
    font-style: italic;
    width: 100%;
    height: 80%;
    font-weight: 500;
    color: #1a2235;
}

.nameProfile{
    margin-top: 2vw;
    font-weight: bold;
}

.nameJob{
    color: black;
    font-weight: 200;
}
/* --- ---*/

@media screen and (max-width: 992px) {
    .feedbackPeoples h1{
        font-size: 5.3vw;
        margin-bottom: 12.6vw;
        width: 80%;
    }
    
    .cardFeedback{
        font-size: 2.24vw;
    }
}

@media screen and (max-width: 640px) {
    .feedbackPeoples h1{
        font-size: 7.8vw;
        margin-bottom: 16vw;
    }
    
    .cardFeedback{
        font-size: 3.8vw;
        width: 65%;
        margin-bottom: 8vw;
    }

    .iconProfileImage{
        width: 21vw;
        height: 21vw;
    }
}

/* COMEÇO FOOTER */
.footer-content{
    width: 100%;
    background-color: #1a2235;
}
.footer-rows{
    padding-top: 0.3vw;
    padding-bottom: 0.7vw;
    align-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 2fr 0.5fr 1fr;
}
.footer-sobre{
    margin: auto;
}
.footer-hr{
    margin: auto;
    width: 90%;
}
.footer-rights-text{
    color: aliceblue;
    margin: 0.5vw auto;
    align-self: center;
    font-size: 1vw;
}

.footer-sobre{
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.logo-footer{
    width: 4vw;
}

@media screen and (max-width: 992px) {
    .logo-footer{
        width: 5.6vw;
    }

    .footer-rights-text{
        font-size: 1.4vw;
    }
}

@media screen and (max-width: 640px) {
    .logo-footer{
        width: 10.2vw;
    }

    .footer-rights-text{
        font-size: 2.8vw;
    }

    .footer-rows{
        width: 100vw;
    }
}


/* FIM FOOTER */