:root{
    --text-color: #35415d;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    font-family: "Jetbrains Mono";
    background-image: url("./background.png");
    background-size: cover;
    background-position: top;
    min-height: 100vh;
}

header{
    display: flex;
    padding: 1rem;
    height: 20vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(255,255,255,0));
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 6vw;
}

a{
    font-size: 1.4vw;
    font-weight: 600;
    color: white;
}

a:hover{
    font-weight: 900;
    scale: 1.05;
    transition: 0.5s;    
}

nav{
    display: flex;
    gap: 5vw;
}

/* Banner */

.banner{
    height: 80vh;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.div_banner{
    width: 35vw;
    margin-bottom: 10vh;
}

.div_banner h1{
    color: var(--text-color);
    font-weight: 900;
    font-size: 5.6vw;
}

.div_banner p{
    text-align: justify;
    width: 30vw;
    color: var(--text-color);
    font-size: 1.5vw;
    margin-bottom: 2vw;
}

.button{
    width: 30vw;
}

.div_banner .button-hover{
    display: flex;
    width: 18vw;
    height: 4vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: linear-gradient(270deg, rgba(0,66,255,1), rgba(53,65,93,1));
    border: none;
    border-radius: 3vw;
    color: white;
    font-size: 1.4vw;
}

.button-hover:hover{
    width: 20vw;
    transition: 0.9s;
}

/* Header e banner mobile */


/* COMEÇO GRID DOS CONTATOS */

.contato{
    width: 100%;
    background-color: #35415d;
    align-content: center;
    align-items: center;
    padding: 5vw;
}

.grid-shadow{
    box-shadow: 10px 10px black;
}
.grid-contato {
    background-color: aliceblue;
    display: grid;   
    padding: 1%;
    align-content: center;
    border-radius: 1vw;
    align-items: center;
}

.grid-template-columns{
    grid-template-columns: 200fr 200fr;
}

.grid-template-rows{
    grid-template-rows: 2fr 1fr 2fr 2fr 2fr 2fr;

}

.grid-items{
    margin: 5px;
	background: aliceblue;	
}

.title-contato{
    color: #35415d;
    font-weight: bold;
    font-size: 1.7vw;
    text-align: center;
}
.text-contato{
    text-align: center;
    font-size: 1.5vw;
    color: #5c6f9a;
    margin: 0 auto;
    margin-left: 1vw;
    float: left;
}

.button-contact{
    padding: 0.75vw;
    margin: auto;
    max-width: 15vw;
    transition: 0.6s;
}
.button-contact:hover{
    cursor: pointer;
    transition: 0.6s;
    opacity: 0.5;
}

.mail-box{
    background-color: white;
    border-radius: 1vw;
    align-items: center;
    height: 100%;

}

.rows-mail-contact{
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 2fr 4.5fr 2fr;

}

.title-mail-box{
    color: rgb(53, 65, 93);
    font-weight: bold;
    font-size: 1.7vw;
    text-align: left;
    margin: 1.5vw;
    margin-bottom: 0vw;
}

.text-mail-box{
    color: #5c6f9a;
    font-size: 1.1vw;
    text-align: left;
    margin: 1vw;
    margin-left: 1.5vw;
    margin-top: 0.5vw;
}

.mail-contact-subcolumn{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.input-mail-box{
    background-color: rgb(255, 255, 255);
    border-radius: 0.5vw;
    border: none;
    margin: 0.5vw;
    padding: 0.8vw;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.2)
    
}
.button-sendmail{
    text-decoration: white;
    background-color: #35415d;
    width: 10vw;
    height: 2.3vw;
    border-radius: 1vw;
    border: none;
    margin: 0.2vw auto;
    margin-right: 1.5vw;
    transition: 0.5s;
    
}

.button-sendmail:hover{
    cursor: pointer;
    opacity: 0.5;
}

.button-sendmail-text{
    color: white;
    font-size: 1vw;
}

/* FIM DA GRID DOS CONTATOS */
